<!--
	dialog for adding new books
-->
<script type="text/template" id="new_book" class="template">
	<form name="newBook" action="post">
		<div class="error"></div>
		<input type="hidden" name="id" value="" />

		<div class="input">
			<label for="title">Title</label>
			<input name='title' value=""/>
		</div>
		<div class="input">
			<label for="author">Author</label>
			<input name='author' value="" />
		</div>
		<div class="input">
			<label for="publisher">Publisher</label>
			<input name='publisher' value="" />
		</div>
		<div class="input">
			<label for="signature">Signature</label>
			<input name='signature' value="" />
		</div>
		<div class="input">
			<label for="keywords">Keywords</label>
			<input name='keywords' value="" />
		</div>
		<div class="input">
			<label for="isbn13">ISBN-13</label>
			<input name='isbn13' value="" />
		</div>

		<input type="button" id='add' value="Add book" />

	</form>

</script>

<!--
	book list header and wrapper
-->
<script type="text/template" id="books" class="template">
	<table class="booklist">
		<thead>
			<tr>
				<th class="id">ID</th>
				<th>Title</th>
				<th class="not-640px">Publisher</th>
				<th>Author</th>
				<th class="not-640px">Signature</th>
				<th class="not-640px">Keywords</th>
				<th class="not-640px">ISBN-13</th>
				<th class="action"><!--action column--></th>
			</tr>
		</thead>
		<tbody>
			<!--books here-->
		</tbody>
	</table>

</script>

<!--
	book list row
-->
<script type="text/template" id="book" class="template">
	<td class="id"><%= book.get('id') %></td>
	<td data-attribute="title"><%= book.get('title') %></td>
	<td data-attribute="publisher" class="not-640px"><%= book.get('publisher') %></td>
	<td data-attribute="author"><%= book.get('author') %></td>
	<td data-attribute="signature" class="not-640px"><%= book.get('signature') %></td>
	<td data-attribute="keywords" class="not-640px"><%= book.get('keywords') %></td>
	<td data-attribute="isbn13" class="not-640px">&nbsp;<%= book.get('isbn13') %></td>
	<td class="action">
		<span class="edit">edit all</span>
		|
		<span class="delete">delete</span>
	</td>
</script>

<!--
	single book attribute label
-->
<script type="text/template" id="book_label" class="template">
    <%= book.get(attribute) %>
</script>

<!--
	book list row editable
-->
<script type="text/template" id="book_edit" class="template">
	<td class="id"><%= book.get('id') %> <input type="hidden" name="id" value="<%= book.get('id') %>" /></td>
	<td><input type="text" name="title" value="<%= book.get('title') %>" /></td>
	<td class="not-640px"><input type="text" name="publisher" value="<%= book.get('publisher') %>" /></td>
	<td><input type="text" name="author" value="<%= book.get('author') %>" /></td>
	<td class="not-640px"><input type="text" name="signature" value="<%= book.get('signature') %>" /></td>
	<td class="not-640px"><input type="text" name="keywords" value="<%= book.get('keywords') %>" /></td>
	<td class="not-640px"><input type="text" name="isbn13" value="<%= book.get('isbn13') %>" /></td>
	<td class="action">
		<span class="save">save</span>
	</td>
</script>

<!--
	single book attribute label editable
-->
<script type="text/template" id="book_label_edit" class="template">
    <input type="text" name="<%= attribute %>" value="<%= book.get(attribute) %>" />
</script>
